<h2 class="survey-header">
    Reinvesting Dividends
</h2>

<p class="survey-block">
    Most well-established and profitable companies distribute <b>dividends</b> to their
    shareholders. This means that, simply by owning shares of a certain company, you will be given a
    determined amount of cash for each share that you own. This is often on a quarterly basis, but
    it could also be more or less frequent depending on the company.
</p>

<p class="survey-block">
    Many of the popular <b>exchange-traded funds</b> (ETF) that track broad-market indices
    distribute the dividends of the companies that are part of the index back to the shareholders,
    so you don't need to own stock of individual companies to benefit from those dividends.
</p>

<div class="survey-block">
    <script src="chart-dividends.tpl.html" data-include></script>
</div>

<p class="survey-block">
    Most brokers allow you to automatically reinvest any dividends from stock you own. This allows
    you to take advantage of the <b>compounding</b> nature of investing, which can have a
    significant effect over a long period of time. Select whether you would like to automatically
    reinvest dividends in the simulation:
</p>

<div class="survey-block centered">
    <script data-include src="div-form.tpl.html"></script>
</div>