<h2 class="survey-header">
    Dollar-Cost Averaging
</h2>

<div class="spacer"></div>

<div class="survey-block centered">
    <script data-include src="dca-form.tpl.html"></script>
</div>

<div class="spacer"></div>

<details>
    <summary class="centered" style="display: list-item;">Learn more about dollar-cost averaging</summary>

    <p class="survey-block">
        As you already know, asset values don't go in a straight line. One common strategy to take
        advantage of market volatility is <b>dollar-cost averaging</b> (DCA). Instead of investing all
        of your wealth into your portfolio as one lump-sum, you can slowly add the assets to your
        portfolio at regular intervals. The strategy works like this:
    </p>

    <p class="survey-block">
        When the markets are up (and potentially overvalued) then $1 will purchase a smaller amount of
        assets. When the markets are down (and potentially undervalued) then the same $1 will let you
        acquire more assets.
    </p>

    <p class="survey-block">
        In many cases, DCA is a strategy that is implemented naturally. For example, this can be done
        by automatically investing a portion of your paycheck. Another benefit of this strategy is that
        it allows you to (at least partially) rebalance your portfolio without selling any assets, which
        provides a great advantage from a tax perspective.
    </p>

    <p class="survey-block">
        Select your desired DCA strategy. For example, if the initial investment was $200 and you
        plan on adding $10 monthly, select a monthly schedule and then enter $10.
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>