<h2 class="survey-header">
    Investment Risks
</h2>

<div class="spacer"></div>

<p class="survey-block">
    Every form of investing has some <b>risks</b> associated it. By educating yourself, you can
    learn about the different types of risk and make an informed decision that suits your desired
    <b>risk profile</b>.
</p>

<div class="spacer"></div>

<details>
    <summary class='centered' style="display: list-item">Learn more about investment risks</summary>

    <p class="survey-block">
        <b>Historical performance</b> is not indicative of <b>future results</b>. Overall economies
        and markets tend to go up in value, in part due to a (healthy) consistent level of
        <b>inflation</b> present in all modern market economies. But even broad-market indices go
        down in value during periods such as <b>recessions</b>.
    </p>

    <p class="survey-block">
        The difference between the highest historical value of your portfolio and the current value is
        called <b>drawdown</b>. Riskier strategies might experience a drawdown of over half of the
        portfolio value in a short period of time. Having a diversity of assets in your portfolio helps
        minimize those drawdowns and often results in higher overall performance compared to holding a
        single class of assets, especially when a <b>rebalancing strategy</b> is employed.
    </p>

    <div class="survey-block">
        <script src="chart-drawdown.tpl.html" data-include></script>
    </div>

    <p class="survey-block">
        During a market downturn, the best thing to do is often to do nothing at all. Of course,
        this is easier said than done but staying disciplined and sticking to your
        <b>investment objectives</b> is key to long-term success.
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>