<h2 class="survey-header">
    Build Your Portfolio
</h2>

<div class="spacer"></div>

<div class="survey-block centered">
    <script data-include src="init-form.tpl.html"></script>
</div>

<div class="spacer"></div>

<details>
    <summary class="centered" style="display: list-item;">Learn more about building a portfolio</summary>

    <p class="survey-block">
        In order to invest, you need to build a <b>portfolio</b>. A portfolio consists of a series
        of <b>assets</b> to which funds will be allocated. Those assets can be <b>stocks</b>,
        <b>bonds</b>, and other financial instruments.
    </p>

    <p class="survey-block">
        There's no one-size-fits-all strategy when building a portfolio, but there are several formulas
        that have consistently worked for a number of <b>investment objectives</b>.
    </p>

    <p class="survey-block">
        We have collected financial data dating back to 1970 and built this portfolio simulator, so
        you can see how different portfolios and strategies would have performed in a variety of
        economic conditions. Your answers to the following questions will be used to initialize the
        simulator parameters.
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>