<h2 class="survey-header">
    Rebalancing Strategy
</h2>

<div class="spacer"></div>

<div class="survey-block centered">
    <script data-include src="rebalance-form.tpl.html"></script>
</div>

<div class="spacer"></div>

<details>
    <summary class='centered' style="display: list-item">Learn more about rebalancing</summary>

    <p class="survey-block">
        <b>Rebalancing</b> is an extremely important concept when it comes to building a successful
        portfolio. As time passes and some of the assets in your portfolio outperform others, your
        portfolio deviates from its intended <b>asset allocation</b>.
    </p>

    <div class="survey-block">
        <script src="chart-rebalancing.tpl.html" data-include></script>
    </div>

    <p class="survey-block">
        To stay close to the target asset allocation, investors rebalance their portfolio at certain
        time intervals. More frequent rebalancing does not always yield better results, and unless
        automated it will also take up a significant amount of time and effort. Select your desired
        rebalancing strategy.
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>