<h2 class="survey-header">
    Start and End Dates
</h2>
<div class="spacer"></div>

<div class="survey-block centered">
    <script data-include src="form-dates.tpl.html"></script>
</div>

<div class="spacer"></div>

<details>
    <summary class="centered" style="display: list-item;">Learn more about the power of time</summary>

    <p class="survey-block">
        It's often said that <b>time in the market</b> always beats <b>timing the market</b>. What this
        means is that investors with long-term goals and good planning are far more likely to succeed
        than those who try to buy and sell assets at the <i>right time</i>.
    </p>

    <p class="survey-block">
        With a sufficiently long <b>investment horizon</b>, you don't need to start with a large initial
        investment to build wealth. In fact, for most people, time is a much more important factor than
        the amount initially invested! This is thanks to <b>compounding</b> nature of investment
        returns.
    </p>

    <p class="survey-block">
        The <b>S&P 500 Index</b> tracks 500 leading U.S. publicly traded companies. Since it's
        inception in 1993, the tendency of overall growth across a sufficiently <b>diversified</b>
        number of assets can be observed quite clearly:
    </p>

    <div class="survey-block">
        <script src="chart-spy-history.tpl.html" data-include></script>
    </div>

    <p class="survey-block">
        Throughout history, both the global and the U.S. economy have consistently experienced
        significant growth during any sufficient long period of time (at least 10 years). In other
        words: if you invested in a broad-market index at any point in history for 10+ years, you would
        have experienced a positive <b>return on your investment</b> (ROI). Even if you invested at the
        worst possible time right before a recession!
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>