<h2 class="survey-header">
    Modern Personal Finance
</h2>

<p class="survey-block">
    There are more personal finance tools than ever before at our disposal, but it's easy
    to get lost in the details. <b>FIRE</b> focuses on a very simple concept: live well
    within your means, and invest as much as possible early on to let exponential growth
    take care of the hard work.
</p>

<p class="survey-block">
    We'll now ask you a few questions about your personal finances to show you that, even
    with a modest income, you can achieve financial freedom much earlier than most people
    realize it's possible.
</p>