<h2 class="survey-header">
    What is FIRE?
</h2>

<p class="survey-block">
    <b>FIRE</b> stands for <b>F</b>inancial <b>I</b>ndependence, <b>R</b>etire <b>E</b>arly.
    It is a movement in the space of personal finance that encourages people to live well
    within their means, and aggressively save money towards early retirement.
</p>

<p class="survey-block">
    Traditional concepts of personal finance have changed significantly in recent times, but
    the financial advice that most people have access to has not. In the last 20 years:
</p>

<ul class="survey-block" style="padding-left: 1.1em; text-align: left;">
    <li>
        There has been an unprecedented level of inflation
    </li>
    <li>
        Student loans and medical debt are orders of magnitude higher per capita
    </li>
    <li>
        Owning a personal computing device and having a fast internet connection is not just
        a luxury, but often a necessity
    </li>
    <li>
        All while wages have not changed significantly for the majority of the population
    </li>
</ul>