<h2 class="survey-header">
    Rule of 72
</h2>

<p class="survey-block">
    The <b>rule of 72</b> is a popular formula used to roughly estimate how long it will
    take for your investments to <b>double</b> in time assuming a constant <b>rate of return</b>.
</p>

<p class="survey-block">
    The formula is extremely simple! Just take the number <b>72</b> and divide it by the
    <b>interest rate</b> that you hope to earn from your <b>investments</b>.
</p>

<p class="survey-block">
    We'll now ask you a few questions about your personal finances to show you that, even
    with modest initial savings, you can build a significant amount of wealth.
</p>